<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to our page</h1>
            <form>
                <label>Inser your location</label>
                <input type="text"/>
                <button>Insert</button>
            </form>
        </div>
        <div class="col-md-4">
            <form action="/spots" method="GET">
                <button type="submit">Check All Spots</button>
            </form>
            <br/>
            <form action="/create-spot" method="GET">
                <button type="submit">Add A New Spot</button>
            </form>
        </div>
    </div>
</div>