<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to our page</h1>
            <form>
                <label>Which city do you fancy?</label>
                <select name="budget">
                    <option value="0">Select a location</option>
                    <option value="Lisbon">Lisbon </option>
                </select>
                <form action="#" method="GET">
                    <button type="submit">Let's go!</button>
                </form>
            </form>
        </div>
        <div class="col-md-4">
            <form action="/spots" method="GET">
                <button type="submit">Check All Spots</button>
            </form>
            <br/>
            <form action="/create-spot" method="GET">
                <button type="submit">Add A New Spot</button>
            </form>
        </div>
    </div>
</div>