<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="landing-left">
                <h1>We help you record your best memories!</h1>
                <p>In here you can record all of your most memorable <a href="/spots">spots</a> to remember later while having acess to other people past experiences has well if you need a bump start!</p>
                <div class="button-container">
                    <form action="/spots" method="GET">
                        <button class="landing-button" type="submit">Check All Spots</button>
                    </form>
                    <br/>
                    <form action="/create-spot" method="GET">
                        <button class="landing-button borderless" type="submit">Add A New Spot</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="landing-right">
                <h3>Check our Spots:</h3>
                <a href="/spots/bars">bars</a>
                <a href="/spots/restaurants">restaurants</a>
                <a href="/spots/rooftops">rooftops</a>
                <a href="/spots/parks">parks</a>
                <a href="/spots/art-centers">art centers</a>
                <a href="/spots/museums">museums</a>
                <a href="/spots/viewpoints">viewpoints</a>
                <a href="/spots/monuments">monuments</a>
            </div>
        </div>
    </div>
</div>