<div class="container">
    <div class="row">
        <div class="col-md-12 flex">
            <div class="new-spot user-e">
            <form action="/user/{{_id}}/edit" method="POST" enctype="multipart/form-data">
            <h1>Complete your profile</h1>
                <label>Nationality</label>
                <input type="text" name="nationality" value="{{nationality}}"/>
                <br>
                <label>Fun Fact</label>
                <input type="text" name="funFact" value="{{funFact}}"/>
                <br>
                <div class="flex-column">
                    <label>Bio</label>
                    <textarea rows="10" cols="20" name="description"></textarea>
                </div>
            </div>
                <button class="new-spot-button" type="submit">Update</button>
            </form>
        </div>
    </div>
</div>