<h1>Spot list</h1>
<h2>Check out our "clássicos" in Lisbon!</h2>
<ul>
  {{#each spots}}
    <li>
      <a href="/spots/{{id}}">{{name}}</a>
      <form action="/spots/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
      <br />
    </li>
  {{/each}}
</ul>