<div class="container">
  <div class="row">
    <div class="col-md-10 flex">
      <div class="new-spot">
        <h1>Editing {{spot.name}}</h1>
        <form action="/spots/{{spot.id}}/edit" method="POST" >
        
        
          <label>Name</label>
          <input type="text" name="name" value="{{spot.name}}"/>

          <label>Location</label>
          <input type="text" name="location" value="{{spot.location}}"/>
          <div class="flex-column">
            <label>Description</label>
            <textarea rows="10" cols="20" name="description"></textarea>
          </div>
      </div>
          <button class="new-spot-button" type="submit">Submit changes</button>
        </form>
    </div>
  </div>
</div>