<h1>My favorites</h1>
<br/>
<ul>
  {{#each favorites}}
    <li>
      <a href="/spots/{{id}}">{{name}}</a>
      <form action="/favorite-spots/{{id}}/delete" method="POST">
        <button type="submit">Delete</button>
      <br/>
    </li>
  {{/each}}
</ul>